# venv
venv/*
.venv

# embedding model
recommend/models/*
models_test/*
recommend/mecab/*
recommend/mecab.zip
recommend/models.zip

# 환경변수
.env

# 로컬 테스트
connect_local_db.pys
connect_local_tfidf.py
recommend_course_local_test.py
embedding_text_vec_local_test.py

# aws
aws/*
AWSCLIV2.pkg
awscliv2.zip
sessionmanager-bundle/*
sessionmanager-bundle.zip

# 기타
__pycache__
.DS_Store

test.py
test
data

# 크롤링은 일단 올리지 않겠습니다

# 데이터 전처리
preprocessing
